<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ASP.NET Web API</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header>
        <div class="content-wrapper">       
            <div class="float-left">
                <p class="site-title"><a href="/">My index ASP.NET Web API</a></p>
            </div>
        </div>
    </header>
    <div id="body">
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>Welcome to ASP.NET Web API!</h1>
                    <h2>Rasel Ahmmed Bappi</h2>
                </hgroup>
                <p>
                    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>
                </p>
                <p>
                    Rasel Ahmmed Bappi from bangladesh.
                </p>
                <p>
                    My blog here <a href="http://blog.raselbappi/">http://blog.raselbappi/</a>
                </p>

            </div>
        </section>
        <section class="content-wrapper main-content clear-fix">
            <h3>ASP.NET MVC Web API Test links:</h3>
            <ol class="round">
                <li >
                    <h5>Get Index</h5>
                    <p>
                        <a href="/myIndexGet.htm">Get Index GET() method</a>
                    </p>
                </li>
                <li >
                    <h5>List of index</h5>
                    <p>
                        <a href="/myIndexList.htm">List of index by AsQueryable OData</a>
                    </p>  
                </li>
                <li >
                    <h5>Create Index</h5>
                    <p>
                        <a href="/myIndexPost.htm">Create Index POST() method</a>
                    </p>
                </li>
                <li >
                    <h5>Update Index</h5>
                    <p>
                        <a href="/myIndexPut.htm">Update Index PUT() method</a>
                    </p>
                </li>
                <li >
                    <h5>Delete Index</h5>
                    <p>
                        <a href="/myIndexDelete.htm">Delete Index DELETE() method</a>
                    </p>
                </li>
            </ol>

        </section>
    </div>
</body>
</html>
